
@{
    ViewData["Title"] = "Unauthorized Area";
}

<div class="col-8">
    <h1>You are not authorized to access this page.</h1>
    <div>
        To make transactions on our site <a href="/User/Register">Register</a> Must be or have already registered <a href="/User/Login">Login </a> !
    </div>
</div>
